<h1>Kiemelt termékek</h1>
<div class="row">
  <app-product-flip [productK]="products | async | featuredFilter:'featured'"></app-product-flip>
</div>

<h1 class="mt-5">{{category.name}}</h1>
<h3>{{category.description}}</h3>

<form class="form-inline my-2 my-lg-0">

  <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<app-product-list [categoria]=1 [phraseString]="phrase"></app-product-list>