<h1 class="text-center mt-4 mb-2">Ifjúsági irodalom</h1>
<h3 class="text-center mb-4">Kiemelt ajánlatunk</h3>
<app-product-paging [featuredList]="featuredList"></app-product-paging>

<div class="input mt-5">
    <form class="form-inline my-3 my-lg-0">
        <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<h3 class="text-center my-5">Teljes terméklista</h3>
<app-product-list [phrase]="phrase" [cat01Products]="cat01Products"></app-product-list>