.header__magenta {
    color: rgba(175, 1, 131, 1);
    font-weight: 500;
    font-size: 1.7rem;
    display: inline-block;
    border-bottom: 1px solid rgba(175, 1, 131, .3);
    padding: .5rem 0;
}

.header__green {
    color: rgba(85, 107, 47, 1);
    font-weight: 500;
    font-size: 1.7rem;
    display: inline-block;
    border-bottom: 1px solid rgba(85, 107, 47, .3);
    padding: .5rem 0;
}

p {
    font-size: .9rem;
    color: rgba(50, 50, 50, 1);
    padding: .3rem .8rem;
    margin: .5rem 0;
    border-left: 4px solid rgba(50, 50, 50, .5);
}