

    
<section id="cardSection" class="py-5">
<div class="container">
  <div id="juli" class="col-md-5 card flex-row shadow-sm" style="width: 100rem">
    <div id="picture" class="col-4">
      
      <img src= "{{product.image}}" class="card-img-top " alt="book">   
    </div>
      <div class="col-7 card-body text-center">
        <h5 class="card-title mb-5 text-center">                 
          <p class="card-text"><small>{{product.author}}</small></p>
          <p>{{product.title}}</p>
        </h5>
        <div class="card-body text-center description">
            <p>{{product.description}}</p>
        </div>
        <div class="card-body text-center flex-flow">
            <p>Ár: {{product.price}} Ft</p>
        </div>
        
        <div class="card-body text-center">
          <a href="#" class="card-link"><strong>Kosárba</strong></a>
          
        </div>
      </div>
    </div>

</div>
</section>
