// // #cardSection {
// //    padding: 0;
// //     border: 0;
// //     width: 290px;  
// //     height: 240px;   
// // }
// .card-body {
//    margin-right: 0;
//     color: brown;
//     max-height: 50 rem;
//     padding: 0;
//     border: 1px;
//     border-color: rgb(0, 0, 0);
//     border-radius: 5reg; 
// }
// .card-link {
//     background-color: rgb(236, 163, 136);    
//     color: rgb(165, 42, 42);
//     border: 1px rgb(165, 42, 42);
//     border-radius: 5reg;
//     text-align: center;
//     margin: auto auto;   
// }

// a {
//     display: flex;
//     max-width: 50%;
//     text-align: center;
//     padding-left: 2rem;
//     align-content: center;
//     margin: auto auto;
//     border: 1px rgb(165, 42, 42);
//     border-radius: 5deg;   
// }

// a:hover {
//     background-color: rgb(165, 42, 42);
//     color: black;
// }

// .card {
//     padding-top: 5px;
//     // box-shadow: 38px 32px 12px 0px rgba(0,0,0,0.75);
// }

// #bookCardText {
//     width: 220px;
// }

// #picture {
//     //margin-top: auto;
//     margin-bottom: 10px;
//     margin-right: 5px;
//     box-shadow: 8px 5px 5px 0px rgb(53, 104, 19);
//     width: 170px;
    
// }
// // #picture:before {
// //     content: " ";
// //     background: url(/src/assets/img/book-bg.svg) no-repeat;
// //     background-size: 100% auto;
// //     width: 100%;
// //     height: 8px;
// //     position: absolute;
// //     left: 0px;
// //     top: -8px;
// // }
// #juli {
//     display: flex;
//     background-color: rgb(250, 218, 114);
//     box-shadow: 2px 2px 7px rgba(0,0,0,0.75);
//     width: 200px;
//     margin: 0;
// }
// #juli:hover {
//     background-color:rgb(252, 211, 77);
//     box-shadow: 2px 2px 7px   rgba(0,0,0,0.75);
// }
// h5 {
//     margin-top: 2rem;;
//     margin-bottom: 0;
//     margin-left: 1rem;

// }
// .description {
//     display: flex;
//     color: rgb(10, 10, 10);
//     padding: 15px;
//     margin-left: 1rem;
// }

.card-body {
    margin-right: 0;
    color: brown;
    max-height: 50 rem;
    padding: 0;
    border: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 5reg;
}
.card-link {
    background-color: rgb(236, 163, 136);
    color: rgb(165, 42, 42);
    border: 1px rgb(165, 42, 42);
    border-radius: 5reg;
    text-align: center;
    margin: auto auto;
}
a {
    display: flex;
    max-width: 50%;
    text-align: center;
    padding-left: 2rem;
    align-content: center;
    margin: auto auto;
    border: 1px rgb(165, 42, 42);
    border-radius: 5deg;
}
a:hover {
    background-color: rgb(165, 42, 42);
    color: black;
}
.card {
    padding-top: 5px;
    // box-shadow: 38px 32px 12px 0px rgba(0,0,0,0.75);
}
#picture {
    margin-top: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 8px 5px 5px 0px rgb(53, 104, 19);
    width: 170px;
}
#picture:before {
    content: " ";
    background: url(/src/assets/img/book-bg.svg) no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 8px;
    position: absolute;
    left: 0px;
    top: -8px;
}
#juli {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(250, 218, 114);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
    width: 400px;
    height: 290px;
}
#juli:hover {
    background-color: rgb(252, 211, 77);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
}
h5 {
    margin-top: 2rem;
    margin-bottom: 0;
    margin-left: 1rem;
}
.description {
    display: flex;
    color: rgb(10, 10, 10);
    padding: 15px;
    margin-left: 1rem;
}
#bookCardText {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 210px;
}

