.container {
    width: 100%;
    transform: translateX(-2%);

    // Tablet
    @media (min-width: 768px) {
        transform: translateX(-2%);
    }

    // Desktop
    @media (min-width: 992px) {
        transform: translateX(-10%);
    }
}