.spacer {
    height: 340px;
}

.carousel {
    height: 300px;
    position: absolute;
    transform: translateX(-3%);
 
        // Tablet
        @media (min-width: 768px) {
            transform: translateX(-3%);
        }

        // Desktop
        @media (min-width: 992px) {
            transform: translateX(-8%);
        }
}

.carousel-inner {
    height: 300px;
}

.carousel-item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}