<h3 class="my-4 text-center">Kiemelt könyveink </h3>
<app-product-paging [featuredList]="featuredList"></app-product-paging>
<h3 class="my-4 text-center">Kiemelt akciós könyveink </h3>
<app-product-list [actionProducts]="actionProducts"></app-product-list>

<div class="input">
    <form class="form-inline my-2 my-lg-0">
        <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<h3 class="my-4 text-center"> Teljes termék listánkat itt tekintheti meg!</h3>
<app-product-list [phrase]="phrase" [productList]="productList"></app-product-list>