nav{
    background-image: linear-gradient(to right, rgb(0, 134, 90), rgb(0, 226, 151), rgb(0, 134, 90) );
}
a.nav-link {
  border-radius: 4px;
  transition: 0.5s;
}
a.nav-link:hover {
  background-color: rgb(1, 110, 74);
  box-shadow: 2px 2px 8px rgb(190, 190, 190);;
}
